
.navBar{
  width: 90%;
  margin: auto;
  margin-top: 10px;
  border-radius: 30px;
  color: white;
  height: 90px;
  background-color:rgb(62, 60, 60);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.footer{
  width: 100%;
  margin: auto;
  margin-top: 10px;
  height: 90px;
  background-color:rgb(86, 82, 82);
  position: absolute;
  bottom: 0;

}
.navBar li{
      float: left;
      padding: 20px;
      margin-top: 10px;
      list-style-type: none;
      font-size: 20px;
}
.NavCart{
    position: absolute;
    right: 14%;
}
.Login{
  position: absolute;
  right: 6%;
}
.navSearch{
  width:320px;
  height: 40px;
  border-radius: 20px;
  text-align: center;
  margin-left: 40%;
}
.products{
  width:90%;
  margin: auto;
  margin-top: 30px;
  display: flex;
  justify-content: space-around;
}
.product{
  display: flex;
  overflow-x: scroll;
  justify-content: space-around;
  gap: 30px;
}
.product::-webkit-scrollbar{
  display: none;
}
.productImg{
  width: 100%;
  height: 50%;
  border-radius: 10px;
  cursor: pointer;
}
.productCards{
  
  width: 100%;
  height: 340px;
  border-radius: 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
.buttons{
  height: 10%;
  width: 250px;
  padding: 10px;
  display: flex;
  justify-content: space-around;
}
.cartbtn{
  width: 40%;
  height: 30px;
  background-color: yellow;
  border: none;
  border-radius: 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;

}
.buyNOw{
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  width: 40%;
  height: 30px;
  background-color: green;
  border: none;
  border-radius: 10px;
}
.cardContents{
  padding: 10px;
  text-align: center;
}
.detailedImg{
  display: flex;
  width: 90%;
  margin: auto;
  height:500px;
}
.left{
  width: 50%;
  height: 100%;
  padding: 40px;
}
.detaildPhoto{
    width:100%;
    height: 80%;
    margin: auto;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
.right{
  width: 50%;
  height: 100%;
  padding: 40px;
  padding-top: 10%;
}
.right h4{
  padding-top: 5%;
  color: green;
}
.Rightbtns{
  display: flex;
  gap: 10px;
  padding-top:20px ;
}
.buyNow{
  width: 50%;
  height: 30px;
  background-color: rgb(142, 243, 142);
  border: none;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  cursor: pointer;
}
.addTocart{
  cursor: pointer;
  width: 50%;
  height: 30px;
  background-color: yellow;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  border: none;

}
.Register{
  width: 40%;
  margin: auto;
   border: 2px solid black;
   height: 350px;
   box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
   margin-top: 20px;
   text-align: center;
   padding: 20px;
}
.login{
  width: 40%;
  margin: auto;
   border: 2px solid black;
   height: 350px;
   box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
   margin-top: 20px;
   text-align: center;
   padding: 20px;
}
.loginform{
  width: 60%;
  padding: 10%;
  padding-left: 35%;
}
.loginform input{
  height: 30px;
}
.submitLogin{
  width: 100%;
  height: 16px;
  margin-left: 60%;
  margin-top: 10px;
}
.Register form{
  height: 90%;
  width: 70%;
  padding: 10px;
  padding-left: 30%                                          ;
}
.Register input{
  width: 100%;
  height: 10%;
}